:root {
  --green800:rgb(12, 32, 32);
  --green700:rgb(14, 36, 36);
  --green600: rgb(16, 43, 43);
  --green500:rgb(34, 90, 90);
  --green400: rgb(42, 133, 110);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
