.page {
  background-color: var(--green800);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: var(--green700);
  border: solid var(--green600) 1px;
  width: 30%;
  height: 100%;
  position: relative;
}

.chatHeader {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: var(--green600);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatHeader h1 {
  color: var(--green500);
  font-family: sans-serif;
  font-size: 1.58rem;
}

.chat_input_button_wrpr {
  position: absolute;
  width: 100%;
  bottom: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
}

.chat_input_button_wrpr input {
  width: 85%;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
  background-color: var(--green800);
  border: 1px solid var(--green600);
  color: var(--green500);
  border-radius: 50px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.chat_input_button_wrpr button {
  background: var(--green400);
  border-radius: 50px;
  border: transparent;
  width: 50px;
  height: 50px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.chat_input_button_wrpr img {
  width: 25px
}

.chatContainer {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 120px;
  font-size: 18px;
}

.msgReceived {
  background-color: var(--green800);
  padding: 5px 10;
  margin: 5px 0;
  border-radius: 10px 10px 10px 0px;
  max-width: fit-content;
  color: #aaa;
}

.msgSend {
  background-color: var(--green400);
  color: var(--green800);
  padding: 5px 10;
  text-align: right;
  max-width: fit-content;
  border-radius: 10px 10px 0px 10px;
  align-self: self-end;
}


/* Media Queries */
@media(max-width: 1080px) {
  .main {
    width: 60%;
  }
}

@media(max-width: 900px) {
  .main {
    width: 60%;
  }
}

@media(max-width: 550px) {
  .main {
    width: 100%;
  }
}